remove:
{
"classname" "/weapon_.*/"
}
{
"classname" "logic_auto"
}
{
"classname" "logic_timer"
}
{
"classname" "trigger_hurt"
}





filter:

{
"model" "*1"
"target" "jailtelet"
"filtername" "tfilter"
"origin" "-3648 0 -2680"
"spawnflags" "1"
"StartDisabled" "0"
"classname" "trigger_teleport"
}
{
"model" "*2"
"target" "jailtelect"
"filtername" "ctfilter"
"origin" "-3648 0 -2680"
"spawnflags" "1"
"StartDisabled" "0"
"classname" "trigger_teleport"
}
{
"origin" "-454 277.656 169.304"
"RefireTime" "240"
"StartDisabled" "1"
"spawnflags" "0"
"targetname" "maptime"
"classname" "logic_timer"
"OnTimer" "endroundjailtele,Enable,,0,-1"
"OnTimer" "jailtime,Enable,,0,-1"
}
{
"origin" "-3648 2944 -272"
"targetname" "jailtelect"
"angles" "0 270 0"
"classname" "info_teleport_destination"
}
{
"origin" "-3648 -2944 -272"
"targetname" "jailtelet"
"angles" "0 90 0"
"classname" "info_teleport_destination"
}
{
"model" "*15"
"target" "jailtelet"
"filtername" "tfilter"
"origin" "-544 1376 480"
"spawnflags" "1"
"StartDisabled" "0"
"classname" "trigger_teleport"
}
{
"model" "*16"
"target" "jailtelect"
"filtername" "ctfilter"
"origin" "-544 1376 480"
"spawnflags" "1"
"StartDisabled" "0"
"classname" "trigger_teleport"
}
{
"model" "*28"
"target" "blackboxlvl1"
"targetname" "endroundjailtele"
"origin" "928 -6112 -224"
"spawnflags" "1"
"StartDisabled" "1"
"classname" "trigger_teleport"
}
{
"model" "*34"
"target" "blackboxlvl1"
"targetname" "endroundjailtele"
"origin" "320 0 128"
"spawnflags" "1"
"StartDisabled" "1"
"classname" "trigger_teleport"
}
{
"model" "*38"
"targetname" "endroundjailtele"
"target" "blackboxlvl2"
"origin" "-7040 -5408 -1616"
"spawnflags" "1"
"StartDisabled" "1"
"classname" "trigger_teleport"
}
{
"model" "*43"
"targetname" "endroundjailtele"
"target" "blackboxlvl3"
"origin" "-7744 -10272 -896"
"spawnflags" "1"
"StartDisabled" "1"
"classname" "trigger_teleport"
}
{
"model" "*48"
"targetname" "endroundjailtele"
"target" "blackboxlvl4"
"origin" "1552 5296 -1088"
"spawnflags" "1"
"StartDisabled" "1"
"classname" "trigger_teleport"
}
{
"origin" "-438 277.656 169.304"
"RefireTime" "90"
"StartDisabled" "1"
"spawnflags" "0"
"targetname" "jailtime"
"classname" "logic_timer"
"OnTimer" "failjailtele,Enable,,0,-1"
}
{
"origin" "-544 1760 672"
"targetname" "blackboxfailjail"
"angles" "0 0 0"
"classname" "info_teleport_destination"
}
{
"model" "*50"
"origin" "-544 1760 704"
"spawnflags" "1"
"wait" "0"
"StartDisabled" "0"
"classname" "trigger_multiple"
"OnStartTouch" "weaponstrip,Strip,,0,-1"
"OnTrigger" "weaponstrip,Strip,,0,-1"
}
{
"origin" "-503 215.055 75.563"
"weapon_knife" "1"
"targetname" "failjaileq"
"spawnflags" "1"
"classname" "game_player_equip"
}
{
"model" "*52"
"origin" "-544 1760 544"
"spawnflags" "1"
"wait" "0"
"StartDisabled" "0"
"classname" "trigger_multiple"
"OnStartTouch" "failjaileq,Use,,0,-1"
}
{
"model" "*53"
"target" "blackboxfailjail"
"targetname" "failjailtele"
"origin" "-3648 0 -448"
"spawnflags" "1"
"StartDisabled" "1"
"classname" "trigger_teleport"
}
{
"origin" "512 -2096 672"
"targetname" "failjailct"
"angles" "0 270 0"
"classname" "info_teleport_destination"
}
{
"origin" "512 -3024 672"
"targetname" "failjailt"
"angles" "0 90 0"
"classname" "info_teleport_destination"
}
{
"model" "*54"
"target" "failjailct"
"filtername" "ctfilter"
"origin" "-544 1760 476"
"spawnflags" "1"
"StartDisabled" "0"
"classname" "trigger_teleport"
}
{
"model" "*55"
"target" "failjailt"
"filtername" "tfilter"
"origin" "-544 1760 476"
"spawnflags" "1"
"StartDisabled" "0"
"classname" "trigger_teleport"
}
{
"model" "*61"
"targetname" "endroundjailtele"
"target" "blackboxlvl5"
"origin" "7552 -1504 -912"
"spawnflags" "1"
"StartDisabled" "1"
"classname" "trigger_teleport"
}
{
"model" "*12"
"origin" "536 0 116"
"spawnflags" "1"
"StartDisabled" "0"
"classname" "trigger_once"
"OnTrigger" "maptime,Enable,,0,-1"
"OnStartTouch" "maptime,Enable,,0,-1"
"OnTrigger" "timer,Open,,0,-1"
"OnStartTouch" "timer,Open,,0,-1"
"OnStartTouch" "noobladder,Open,,0,-1"
"OnTrigger" "noobladder,Open,,0,-1"
}
{
"model" "*67"
"origin" "7552 -3236 -2808"
"spawnflags" "1"
"StartDisabled" "0"
"classname" "trigger_once"
"OnStartTouch" "bonus2leaver,Stop,,7,-1"
"OnStartTouch" "hudhintsecret2,ShowHudHint,,0,-1"
"OnStartTouch" "weakness,Enable,,0,-1"
"OnStartTouch" "bonus2leaver,Start,,0,-1"
}
######################################################################################


{
"origin" "-544 1088 672"
"targetname" "blackboxlvl1"
"angles" "0 0 0"
"classname" "info_teleport_destination"
}
{
"origin" "-544 1184 672"
"targetname" "blackboxlvl2"
"angles" "0 0 0"
"classname" "info_teleport_destination"
}
{
"origin" "-544 1280 672"
"targetname" "blackboxlvl3"
"angles" "0 0 0"
"classname" "info_teleport_destination"
}
{
"origin" "-544 1376 672"
"targetname" "blackboxlvl4"
"angles" "0 0 0"
"classname" "info_teleport_destination"
}
{
"origin" "-544 1472 672"
"targetname" "blackboxlvl5"
"angles" "0 0 0"
"classname" "info_teleport_destination"
}
{
"origin" "-544 1568 672"
"targetname" "blackboxcomp"
"angles" "0 0 0"
"classname" "info_teleport_destination"
}
{
"origin" "-544 1664 672"
"targetname" "blackboxcompbonus"
"angles" "0 0 0"
"classname" "info_teleport_destination"
}
{
"model" "*59"
"targetname" "telelvlcomp"
"target" "blackboxcomp"
"origin" "7552 -5884 -2496"
"spawnflags" "1"
"StartDisabled" "0"
"classname" "trigger_teleport"
"OnStartTouch" "maptime,FireTimer,,1,-1"
}
{
"model" "*60"
"targetname" "telelvlcompb"
"target" "blackboxcompbonus"
"origin" "7552 -5884 -2496"
"spawnflags" "1"
"StartDisabled" "1"
"classname" "trigger_teleport"
"OnStartTouch" "maptime,FireTimer,,1,-1"
}



