modify:
{
	match:
{
"origin" "-3904 3104 4736"
"targetname" "second"
"angles" "0 180 0"
"classname" "info_teleport_destination"
"hammerid" "287965"
}
	replace:
	 {
"angles" "0 0 0"
	 }
}
####################################################


modify:
{
	match:
{
"model" "*213"
"target" "b2_smoothtele_p2"
"StartDisabled" "0"
"spawnflags" "1"
"origin" "-5006.05 -6862 -5500.17"
"landmark" "b2_smoothtele"
"classname" "trigger_teleport"
"hammerid" "311718"
}

	delete:
	{
"landmark" "b2_smoothtele"
	}
		replace:
	 {
"target" "AutoInstance0b2_smoothtele_p2"
	 }
}

modify:
{
	match:
{
"model" "*206"
"target" "b2_smoothtele_p2"
"StartDisabled" "0"
"spawnflags" "1"
"origin" "-5006.0491353339 -6862 -5498.57382970317"
"landmark" "b2_smoothtele"
"classname" "trigger_teleport"
"hammerid" "450117"
}

	delete:
	{
"landmark" "b2_smoothtele"
	}
		replace:
	 {
"target" "AutoInstance0b2_smoothtele_p2"
	 }
}

####################################################


filter:

{
"model" "*148"
"targetname" "end"
"target" "Theend"
"StartDisabled" "0"
"spawnflags" "1"
"origin" "-13936 3104 -3879.5"
"landmark" "endy"
"classname" "trigger_teleport"
"hammerid" "181541"
}

################################################


{
"origin" "-5006.0491353339 -6862 -5498.57382970317"
"targetname" "AutoInstance0b2_smoothtele"
"classname" "info_landmark"
"hammerid" "450558"
}

