.vscode/
.vs/
.idea/
*.smx
addons/sourcemod/scripting/surftimer-api.sp
.DS_Store
addons/sourcemod/scripting/compile.exe
addons/sourcemod/scripting/compile.sh
addons/sourcemod/scripting/spcomp.exe
addons/sourcemod/scripting/compile.dat
addons/sourcemod/scripting/include/admin.inc
addons/sourcemod/scripting/include/adminmenu.inc
addons/sourcemod/scripting/include/adt.inc
addons/sourcemod/scripting/include/adt_array.inc
addons/sourcemod/scripting/include/adt_stack.inc
addons/sourcemod/scripting/include/adt_trie.inc
addons/sourcemod/scripting/include/banning.inc
addons/sourcemod/scripting/include/basecomm.inc
addons/sourcemod/scripting/include/bitbuffer.inc
addons/sourcemod/scripting/include/clientprefs.inc
addons/sourcemod/scripting/include/clients.inc
addons/sourcemod/scripting/include/colorvariables.inc
addons/sourcemod/scripting/include/commandfilters.inc
addons/sourcemod/scripting/include/commandline.inc
addons/sourcemod/scripting/include/console.inc
addons/sourcemod/scripting/include/convars.inc
addons/sourcemod/scripting/include/core.inc
addons/sourcemod/scripting/include/csgocolors.inc
addons/sourcemod/scripting/include/cstrike.inc
addons/sourcemod/scripting/include/datapack.inc
addons/sourcemod/scripting/include/dbi.inc
addons/sourcemod/scripting/include/dhooks.inc
addons/sourcemod/scripting/include/discord.inc
addons/sourcemod/scripting/include/discord/bot.inc
addons/sourcemod/scripting/include/discord/channel.inc
addons/sourcemod/scripting/include/discord/GuildMember.inc
addons/sourcemod/scripting/include/discord/message_embed.inc
addons/sourcemod/scripting/include/discord/stocks.inc
addons/sourcemod/scripting/include/discord/webhook.inc
addons/sourcemod/scripting/include/entity.inc
addons/sourcemod/scripting/include/entity_prop_stocks.inc
addons/sourcemod/scripting/include/events.inc
addons/sourcemod/scripting/include/files.inc
addons/sourcemod/scripting/include/float.inc
addons/sourcemod/scripting/include/functions.inc
addons/sourcemod/scripting/include/geoip.inc
addons/sourcemod/scripting/include/halflife.inc
addons/sourcemod/scripting/include/handles.inc
addons/sourcemod/scripting/include/helpers.inc
addons/sourcemod/scripting/include/keyvalues.inc
addons/sourcemod/scripting/include/lang.inc
addons/sourcemod/scripting/include/logging.inc
addons/sourcemod/scripting/include/mapchooser.inc
addons/sourcemod/scripting/include/menus.inc
addons/sourcemod/scripting/include/nextmap.inc
addons/sourcemod/scripting/include/profiler.inc
addons/sourcemod/scripting/include/protobuf.inc
addons/sourcemod/scripting/include/regex.inc
addons/sourcemod/scripting/include/sdkhooks.inc
addons/sourcemod/scripting/include/sdktools.inc
addons/sourcemod/scripting/include/sdktools_client.inc
addons/sourcemod/scripting/include/sdktools_engine.inc
addons/sourcemod/scripting/include/sdktools_entinput.inc
addons/sourcemod/scripting/include/sdktools_entoutput.inc
addons/sourcemod/scripting/include/sdktools_functions.inc
addons/sourcemod/scripting/include/sdktools_gamerules.inc
addons/sourcemod/scripting/include/sdktools_hooks.inc
addons/sourcemod/scripting/include/sdktools_sound.inc
addons/sourcemod/scripting/include/sdktools_stocks.inc
addons/sourcemod/scripting/include/sdktools_stringtables.inc
addons/sourcemod/scripting/include/sdktools_tempents.inc
addons/sourcemod/scripting/include/sdktools_tempents_stocks.inc
addons/sourcemod/scripting/include/sdktools_trace.inc
addons/sourcemod/scripting/include/sdktools_variant_t.inc
addons/sourcemod/scripting/include/sdktools_voice.inc
addons/sourcemod/scripting/include/smjansson.inc
addons/sourcemod/scripting/include/smlib.inc
addons/sourcemod/scripting/include/smlib/arrays.inc
addons/sourcemod/scripting/include/smlib/clients.inc
addons/sourcemod/scripting/include/smlib/colors.inc
addons/sourcemod/scripting/include/smlib/concommands.inc
addons/sourcemod/scripting/include/smlib/convars.inc
addons/sourcemod/scripting/include/smlib/crypt.inc
addons/sourcemod/scripting/include/smlib/debug.inc
addons/sourcemod/scripting/include/smlib/dynarrays.inc
addons/sourcemod/scripting/include/smlib/edicts.inc
addons/sourcemod/scripting/include/smlib/effects.inc
addons/sourcemod/scripting/include/smlib/entities.inc
addons/sourcemod/scripting/include/smlib/files.inc
addons/sourcemod/scripting/include/smlib/game.inc
addons/sourcemod/scripting/include/smlib/general.inc
addons/sourcemod/scripting/include/smlib/math.inc
addons/sourcemod/scripting/include/smlib/menus.inc
addons/sourcemod/scripting/include/smlib/server.inc
addons/sourcemod/scripting/include/smlib/sql.inc
addons/sourcemod/scripting/include/smlib/strings.inc
addons/sourcemod/scripting/include/smlib/teams.inc
addons/sourcemod/scripting/include/smlib/vehicles.inc
addons/sourcemod/scripting/include/smlib/weapons.inc
addons/sourcemod/scripting/include/smlib/world.inc
addons/sourcemod/scripting/include/sorting.inc
addons/sourcemod/scripting/include/sourcemod.inc
addons/sourcemod/scripting/include/SteamWorks.inc
addons/sourcemod/scripting/include/string.inc
addons/sourcemod/scripting/include/testing.inc
addons/sourcemod/scripting/include/textparse.inc
addons/sourcemod/scripting/include/tf2.inc
addons/sourcemod/scripting/include/tf2_stocks.inc
addons/sourcemod/scripting/include/timers.inc
addons/sourcemod/scripting/include/topmenus.inc
addons/sourcemod/scripting/include/usermessages.inc
addons/sourcemod/scripting/include/vector.inc
addons/sourcemod/scripting/include/version.inc
addons/sourcemod/scripting/include/version_auto.inc