.vscode/
.vs/
.idea/
*.smx
addons/sourcemod/scripting/surftimer-api.sp
.DS_Store
addons/sourcemod/scripting/compile.exe
addons/sourcemod/scripting/compile.sh
addons/sourcemod/scripting/spcomp.exe
addons/sourcemod/scripting/compile.dat
